{% extends "timesheets/base.html" %}
{% block title %}Add Employee - Espanini{% endblock %}

{% block content %}
<body>



<div class="container">



<div class="container">
    <div class="row">
        <div class="col-md-12">

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}

                <button type="submit" class="btn btn-secondary btn-sm" value=""> Save</button>
            </form>
        </div>
    </div>
</div>


</div></div>

</body>
{% endblock %}