{% extends "timesheets/base.html" %}
{% block title %}Timesheet History - Espanini{% endblock %}

{% block content %}

<body>

<section style="background: #fefefe; padding: 30px ;" >
              <h4></h4>
        <div class="tittle wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
                        <h1 class="display-5">
    {{ employee }}
                        </h1>

                    </div>
            </section>
<div class="container">


    <!-- Display the current year and month if provided -->

    <!-- Filter Form -->
    <form method="get" action="{% url 'all_employee_timesheets' employee.id employee.employee_id %}">
        <label for="year" style="color: black">Year:</label>
        <select id="year" name="year" onchange="this.form.submit()">
            <option value="">All</option>
            {% for y in years %}
            <option value="{{ y }}" {% if year == y|stringformat:"s" %}selected{% endif %}>
                {{ y }}
            </option>
            {% endfor %}
        </select>

        <label for="month" style="color: black">Month:</label>
        <select id="month" name="month" onchange="this.form.submit()">
            <option value="">All</option>
            {% for m in months %}
            <option value="{{ m }}" {% if month == m|stringformat:"s" %}selected{% endif %}>
                {{ m }}
            </option>
            {% endfor %}
        </select>
    </form>

    <!-- Display the filtered timesheets -->
<p></p>





<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver2 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column1">Date</th>
									<th class="cell100 column2">Time In</th>
									<th class="cell100 column3">Time Out</th>
                                    <th class="cell100 column4">Hours Worked</th>
									<th class="cell100 column5">OT 1</th>
									<th class="cell100 column6">OT 2</th>
                                    <th class="cell100 column6">Signed</th>

								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body">
						<table>
							<tbody>
                             {% for timesheet in timesheets %}
                                <td class="cell100 column1"><a href="{% url 'edit_employee_timesheet' timesheet.id %}" class="text-decoration-none text-black">
                                    {{ timesheet.date }}
                            </a></td>
									<td class="cell100 column2">{{ timesheet.clock_in }}</td>
                                {% if timesheet.clock_out %}
									<td class="cell100 column3">{{ timesheet.clock_out }}</td>
                             {% else %}
                            <td class="cell100 column3">---</td>
                            {% endif %}
                                    {% if timesheet.hours_worked %}
                                    <td class="cell100 column4">{{ timesheet.hours_worked }}</td>
                                     {% else %}
                            <td class="cell100 column4">---</td>
                            {% endif %}

                                          <td class="cell100 column5">
          {{ timesheet.overtime_normal_saturdays }}
        </td>
                             <td class="cell100 column6">{{ timesheet.overtime_holiday_sundays }}</td>
                             {% if timesheet.signed_off_by %}
                             <td class="cell100 column6">{{ timesheet.signed_off_by }}</td>
                             {% else %}
                            <td class="cell100 column6">---</td>
                            {% endif %}
								</tr>


								{% endfor %}
							</tbody>
						</table>
					<div class="ps__rail-x" style="left: 0px; bottom: -581px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 581px; height: 585px; right: 5px;"><div class="ps__thumb-y" tabindex="0" style="top: 292px; height: 293px;"></div></div></div>
				</div>
                </tbody>
						</table>
					<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 585px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 291px;"></div></div></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
{% endblock %}

