{% extends "timesheets/base.html" %}
{% block title %}PayrollData - Espanini{% endblock %}

{% block content %}
<body>
<div>
    <p></p>
</div>
<div class="p-4 p-md-3 mb-4 rounded text-body-emphasis ">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic"></h1>
      <p class="lead my-3"></p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold"></a></p>
    </div>
  </div>
<form method="GET" action="{% url 'payroll_data' %}">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="start_date">Start Date:</label>
                <input type="date" id="start_date" name="start_date" class="form-control" required>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="end_date">End Date:</label>
                <input type="date" id="end_date" name="end_date" class="form-control" required>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-sm btn-outline-primary mt-3">Select Period</button>
    </div>
    <p></p>
</form>

<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Employee No.</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Position</th>
        <th scope="col">Site</th>
        <th scope="col">Normal Hours</th>
        <th scope="col">Overtime Normal and Saturdays</th>
        <th scope="col">Overtime Holiday and Sundays</th>
        <th scope="col">Total Hours Worked</th>
         <th scope="col">Owed</th>
        <th scope="col">Period</th>
      </tr>
    </thead>
    <tbody id="employeeTable">
      {% for employee in employees %}
      <tr>
        <td>{{ employee.employee_id }}</td>
        <td>{{ employee.first_name }}</td>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.site }}</td>
        <td>{{ employee.total_normal_hours }}</td>
        <td>{{ employee.total_overtime_normal_saturdays }}</td>
        <td>{{ employee.total_overtime_holiday_sundays }}</td>
        <td>{{ employee.total_hours_worked }}</td>
         <td>R{{ employee.owed }}</td>
        <td>{{ employee.period }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>

<form method="GET" action="{% url 'payroll_data_pdf' start_date end_date %}">
    <input type="hidden" name="start_date" value="{{ start_date }}">
    <input type="hidden" name="end_date" value="{{ end_date }}">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Download as PDF</button>
</form>

<form method="GET" action="{% url 'payroll_data_excel' start_date end_date %}">
    <input type="hidden" name="start_date" value="{{ start_date }}">
    <input type="hidden" name="end_date" value="{{ end_date }}">
    <button type="submit" class="btn btn-sm btn-outline-secondary">Download as Excel</button>
</form>


</body>

{% endblock %}
