{% extends "timesheets/base.html" %}
{% block title %}Upload - Espanini{% endblock %}

{% block content %}
<body>
<div class="container">
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis ">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic"></h1>
      <p class="lead my-3"></p>
      <p class="lead mb-0"><a href="#" class="text-body-emphasis fw-bold"></a></p>
    </div>
  </div>

<h1>Upload Excel Files</h1>

    <div>
        <a href="{% url 'timesheet-upload' %}">
        <button>Upload Timesheets </button></a>
    </div>

    <div>
        <a href="{% url 'employees-upload' %}">
        <button>Upload Employees</button></a>
    </div>


</body>
{% endblock %}
