{% extends "timesheets/base.html" %}
{% block title %}View Employee Timesheets  - Espanini{% endblock %}

{% block content %}


<body>






    <!-- Centered Employee Name -->
    <div class="container text-center my-4">
        <h2>{{ employee }}</h2>
    </div>

    <!-- Bulk Sign Off Form -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                        <section style=" padding: 10px ;" >
                <p class="text-center"><img src="https://upload.wikimedia.org/wikipedia/commons/3/3d/Clock_12-00.svg" width="16" height="16" fill="currentColor" class="bi bi-plus"> Total Hours Worked This Month: {{ total_hours_worked }}</p>
               </section>

                {% if timesheets_info %}
                <form method="post" action="{% url 'bulk_sign_off_timesheets' employee.employee_id site %}">
                    {% csrf_token %}
                    <table class="table table-white table-bordered border-secondary" style="background: #fefefe">
                        <thead>
                            <tr>
                                <th scope="col">Day</th>
                                <th scope="col">Date</th>
                                <th scope="col">Time In</th>
                                <th scope="col">Time Out</th>
                                <th scope="col">Hours Worked</th>

                                <th scope="col">Select</th>
                            </tr>
                        </thead>
                        <tbody id="employeeTable" >
                            {% for timesheet in timesheets_info %}
                            <tr>
                                <td>{{ timesheet.Day }}</td>
                                <td>{{ timesheet.date }}</td>
                                <td>{{ timesheet.clock_in }}</td>
                                <td>{{ timesheet.clock_out }}</td>
                                <td>{{ timesheet.hours_worked }}</td>

                                <td>

                                    <input type="checkbox" name="timesheet_ids" value="{{ timesheet.id }}" class="custom-checkbox ">
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary float-end">Sign Off Selected</button>
                </form>
                {% else %}
                <h4 class="text-center">No Timesheets to sign off</h4>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Already Signed Off Section -->
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-4 mb-4">
                <div class="card text-center">
                    <p>Days Already Signed Off This Month ({{ year_month }})</p>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ signed_off_count }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


<hr>

</body>
{% endblock %}