{% extends "timesheets/base.html" %}
{% block title %}View Employee - Espanini{% endblock %}

{% block content %}
<body>


<div class="container">

 <div class="col">



        <div class="card mb-4 rounded-3 text-center">

          <div class="card-header py-3">  <a href="{% url 'all_employee_timesheets'  employee.id employee.employee_id %}">
<button class="btn btn-sm btn-outline-primary float-start">Timesheet History</button>
    </a> <a href="{% url 'edit_employee' employee.id %}">
        <button class="btn btn-warning float-end" width="15" height="15">Edit
        </button></a>

          </div>
          <div class="card-body">
            <h4 class="card-title pricing-card-title">{{ employee.first_name }} {{ employee.last_name }}</h4>
               <div>
            <p class="my-0 fw-normal">Employee No. {{ employee.employee_id }}</p>
              </div>
            <ul class="list-unstyled mt-3 mb-4">

              <li>Site: {{ employee.site }}</li>
              <li>{{ employee.position }}</li>
              <li>{{ employee.email }}</li>
              <li></li>
            </ul>

          </div>
            <a href="{% url 'add_employee_timesheet' employee.id %}">
    <button class="btn btn-sm btn-outline-primary float-end">Add Timesheet</button>
  </a>
        </div>

      </div>
<div>

</div>


</div>

<section>
<a href="{% url 'delete_employee' employee.id employee.employee_id %}">
<button class="btn btn-danger float-end">Delete Employee</button>
    </a>
    </section>
</body>
{% endblock %}

